body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
header {
    background-color: #03427d;
    color: #fff;
    padding: 1.5rem;
}
  
nav a {
    color: #ffff;
    text-decoration: none;
    margin-right: 1.5rem;
}
  
.hero {
    background-color: rgb(36, 142, 205); /* RGB version of the color */
    color: #fff;
    padding: 2rem;
    text-align: center;
}
.hero h1 {
    background-color: rgb(36, 142, 205); /* RGB version of the color */
    color: #fff;
    text-align: center;
    font-size: 3rem;
}
.try-demo-btn {
    display: inline-block;
    background-color: #03427d;
    color: #fff;
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 4px;
}